<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark z-index-9  fixed-top" id="mainNav">

  <div class="collapse navbar-collapse" id="navbarResponsive">

    <ul class="navbar-nav navbar-sidenav background-main-color admin-nav" id="admin-nav">
      <li class="nav-item">
        <span class="nav-title-text">Main</span>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="dashboard-home.html">
          <i class="fas fa-fw fa-home"></i><span class="nav-link-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My items">
        <a class="nav-link" href="dashboard-my-listings.html">
          <i class="fa fa-fw fa-table"></i>
          <span class="nav-link-text">My Listings</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My Favorites">
        <a class="nav-link active" href="dashboard-my-favorites.html">
          <i class="fa fa-fw fa-heart"></i>
          <span class="nav-link-text">My Favorites</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reviews">
        <a class="nav-link" href="dashboard-reviews.html">
          <i class="fa fa-fw fa-star"></i>
          <span class="nav-link-text">Reviews</span>
        </a>
      </li>
      <li class="nav-item">
        <span class="nav-title-text">Example Pages</span>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bookings">
        <a class="nav-link" href="dashboard-bookings.html">
          <i class="far fa-fw fa-bookmark"></i>
          <span class="nav-link-text">Bookings</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add Listing">
        <a class="nav-link" href="dashboard-add-listing.html">
          <i class="fa fa-fw fa-plus-circle"></i>
          <span class="nav-link-text">Add Listing</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Packages">
        <a class="nav-link" href="dashboard-packages.html">
          <i class="far fa-fw fa-list-alt"></i>
          <span class="nav-link-text">Packages</span>
        </a>
      </li>

      <li class="nav-item">
        <span class="nav-title-text">User Area</span>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My Profile">
        <a class="nav-link" href="dashboard-my-profile.html">
          <i class="fa fa-fw fa-user-circle"></i>
          <span class="nav-link-text">My Profile</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sing Out">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out-alt"></i>
          <span class="nav-link-text">Sing Out</span>
        </a>
      </li>
    </ul>




  </div>
</nav>
