
<div id="page-title" style="padding-top: 60px;text-align: right" class=" gradient-white">
  <div class="container" dir="rtl">

    <h3 class="font-weight-300">مشاور {{doctorDetail.name}}</h3>
  </div>
</div>


<div class="margin-tb-30px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" style="text-align: center">

        <div class="margin-bottom-30px box-shadow">
          <img style="max-height: 500px" onerror="this.onerror=null;this.src='./assets/img/unknown.png';" src="http://admin.moshaverline.com/{{doctorDetail.avatar}}" alt="">
          <div class="padding-30px background-white">
            <div class="row" style="text-align: center">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="rating clearfix" >
                  <ul class="" style="text-align: center">
                    <li [ngClass]="{active:doctorDetail.star>=1}"></li>
                    <li [ngClass]="{active:doctorDetail.star>=2}"></li>
                    <li [ngClass]="{active:doctorDetail.star>=3}"></li>
                    <li [ngClass]="{active:doctorDetail.star>=4}"></li>
                    <li [ngClass]="{active:doctorDetail.star>=5}"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="margin-bottom-30px box-shadow" style="text-align: center;direction: rtl">
          <div class="padding-30px background-white">
            <h3><i class="far fa-hospital margin-left-10px text-main-color"></i>سوابق مشاور</h3>
            <hr>
            <p *ngFor="let info of doctorDetail.information" class="text-grey-2" >
              {{info.text}} ({{info.title}})<br/>
            </p>
          </div>
        </div>

        <div class="margin-bottom-30px box-shadow" >
          <div class="padding-30px background-white" >
            <h3 style="direction: rtl"><i class="far fa-star margin-right-10px text-main-color"></i> نظرات کاربران</h3>
            <hr>

            <ul *ngFor="let nazar of Nazarsanjies" class="commentlist padding-0px margin-0px list-unstyled text-grey-3">
              <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                <img style="height: 80px" src="http://admin.moshaverline.com/{{nazar.avatar}}" onerror="this.onerror=null;this.src='./assets/img/unknown.png';" class="float-right margin-right-20px border-radius-60 margin-bottom-20px" alt="">
                <div class="float-right-85px">
                  <span class="text-extra-small margin-right-20px">تاریخ :  <a href="#" class="text-main-color">{{nazar.date}}</a></span>
                  <a class="d-inline-block text-dark text-medium " href="#">{{nazar.name}} </a>
                  <div class="rating" style="float: right">
                    <ul class="" style="text-align: center">
                      <li [ngClass]="{active:nazar.star>=1}"></li>
                      <li [ngClass]="{active:nazar.star>=2}"></li>
                      <li [ngClass]="{active:nazar.star>=3}"></li>
                      <li [ngClass]="{active:nazar.star>=4}"></li>
                      <li [ngClass]="{active:nazar.star>=5}"></li>
                    </ul>
                  </div>
                  <p class="margin-top-15px text-grey-2">{{nazar.star_comment}}<br/><br/><br/></p>
                </div>
              </li>
            </ul>

          </div>
        </div>

      </div>
      <div class="col-lg-4">
        <div style="text-align: right;direction: rtl" class="background-second-color border-radius-10 margin-bottom-45px text-white box-shadow">
          <h3 class="padding-lr-30px padding-top-20px" style="color: white"><i class="far fa-clock margin-right-10px "></i> تقویم کاری</h3>
          <div class="padding-bottom-30px">
            <ul class="padding-0px margin-0px">
              <form action="#!/add_appointment" style="direction: ltr">
                <li class="padding-lr-30px padding-tb-10px ba-2">{{DateToJalaliDay(0)}} <span class="float-left">{{DateToJalaliHours(0)}}</span></li>
                <li class="padding-lr-30px padding-tb-10px ">{{DateToJalaliDay(1)}} <span class="float-left">{{DateToJalaliHours(1)}}</span></li>
                <li class="padding-lr-30px padding-tb-10px ba-2">{{DateToJalaliDay(2)}} <span class="float-left">{{DateToJalaliHours(2)}}</span></li>
                <li class="padding-lr-30px padding-tb-10px ">{{DateToJalaliDay(3)}} <span class="float-left">{{DateToJalaliHours(3)}}</span></li>
                <li class="padding-lr-30px padding-tb-10px ba-2">{{DateToJalaliDay(4)}} <span class="float-left">{{DateToJalaliHours(4)}}</span></li>
                <li class="padding-lr-30px padding-tb-10px ">{{DateToJalaliDay(5)}} <span class="float-left">{{DateToJalaliHours(5)}}</span></li>
                <li class="padding-lr-30px padding-tb-10px ba-2">{{DateToJalaliDay(6)}} <span class="float-left">{{DateToJalaliHours(6)}}</span></li>
                <button (click)="open()" style="margin-right:5%;margin-top: 5%;width: 90%;color: white;" class="padding-lr-30px padding-tb-10px  background-blue box-shadow border-radius-10">رزرو</button>
              </form>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
