<div class="container">

  <!-- Page Title -->
  <div class="modal-header" style="text-align: center">
    <h4 class="modal-title" id="modal-basic-title" style="text-align: center;width: 100% ">لغو نوبت مشاوره</h4>

  </div>
  <!-- // Page Title -->
  <div class="form-output modal-body" dir="rtl" style="text-align: right">

    <p>آیا از لغو این نوبت اطمینان دارید ؟</p>
    <p>لغو رزرو با توجه به زمان باقی مانده تا نوبت ممکن است شامل جریمه شود.</p>

  </div>
</div>
<div class="modal-footer">
  <button href="#" type="submit"
          style="background: #59b899;border-color: #25bc8a;box-shadow:#25bc8a"
          (click)="cancelRequest()"
          class="btn btn-lg border-2  btn-primary btn-block border-radius-15 padding-15px box-shadow">لغو رزرو
  </button>

</div>
