<nb-layout [center]="true">

  <nb-layout-column class="main-content">
    <div class="row full-width">
      <nb-chat class="full-width" size="large" status="success" style="width: 100%" title="جلسه مشاوره">
        <nb-chat-message *ngFor="let msg of messages"
                         [avatar]="msg.user.avatar"
                         [date]="msg.date"
                         [files]="msg.files"
                         [latitude]="msg.latitude"
                         [longitude]="msg.longitude"
                         [message]="msg.text"
                         [quote]="msg.quote"
                         [reply]="msg.reply"
                         [sender]="msg.user.name"
                         [type]="msg.type">
        </nb-chat-message>
        <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true" aria-placeholder="تایپ">
        </nb-chat-form>
      </nb-chat>
    </div>

  </nb-layout-column>

</nb-layout>
