<h5>Default search</h5>
<hr>
<p>
  By default ng-select will search using label text. You can also use <b>loading</b> input to set
  loading state manually if <b>[typeahead]</b> is not used.
</p>
---html,true
<ng-select [items]="people"
           bindLabel="name"
           [loading]="peopleLoading">
</ng-select>
---
<br/>

<h5>Search across multiple fields using <b>[searchFn]</b></h5>
<hr>
<p>Use search term and filter on custom fields. Type <b>female</b> to see only females.</p>

---html,true
<ng-select [items]=""
           bindLabel="name"
           [loading]="false">
  <ng-template ng-option-tmp let-item="item">
    {{item.name}} <br />
    <small>{{item.gender}}</small>
  </ng-template>
</ng-select>
---
<br/>
