<div class="container">

  <!-- Page Title -->
  <div class="modal-header" style="text-align: center">
    <h4 class="modal-title" style="text-align: center;width: 100% " id="modal-basic-title">رزرو نوبت مشاوره</h4>

  </div>
  <!-- // Page Title -->
  <div dir="rtl" style="text-align: right" class="form-output modal-body">

    <form>
      <div class="form-group margin-bottom-20px">
        <label> <i class="far fa-list-alt margin-right-10px"></i> نام مشاور</label>
        <label for="ListingTitle"></label><input name="doctorName" type="text" class="form-control form-control-sm"
                                                 readonly id="ListingTitle"
                                                 value="{{doctorName}}">
      </div>
      <div class="form-group margin-bottom-20px">
        <div class="row">
          <div class="col-md-12">
            <ng-select [items]="categoriesData"
                       bindLabel="name"
                       name="category"
                       [(ngModel)]="categorieSelected"
                       placeholder="گروه مشاوره"
                       [loading]="categoriesLoading"
                       class="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              گروه مشاوره
            </ng-select>

          </div>
        </div>
      </div>
      <div class="row padding-16px">
        <div class="col-md-12 margin-bottom-20px">
          <div class="row">
            <label><i class="fas fa-calendar-alt margin-right-10px"></i>تاریخ و ساعت شروع جلسه</label>
          </div>
          <div class="row">
            <dp-date-picker
              name="date"
              class="form-control form-control-sm"
              style="width: 100%!important;"
              dir="rtl"
              [(ngModel)]="dateObject"
              mode="daytime"
              placeholder="تاریخ و ساعت شروع جلسه"
              required="true"
              theme="dp-material">
            </dp-date-picker>
          </div>
        </div>


      </div>
    </form>
    <div class="row ">
      <p class="bold" style="color: red;text-align: center;width: 100%" *ngIf="errorMessage!==''">خطا : {{errorMessage}}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button href="#" type="submit"
          style="background: #59b899;border-color: #25bc8a;box-shadow:#25bc8a"
          (click)="saveRequest()"
          class="btn btn-lg border-2  btn-primary btn-block border-radius-15 padding-15px box-shadow">ثبت رزرو
  </button>

</div>
