<div class="container">

  <!-- Page Title -->
  <div class="modal-header" style="text-align: center">
    <h4 class="modal-title" style="text-align: center;width: 100% " id="modal-basic-title">آپلود تصویر کاربری</h4>

  </div>
  <!-- // Page Title -->
  <div dir="rtl" style="text-align: right" class="form-output modal-body">

    <form >

      <div class="form-group">
        <label>Email address</label>
        <input type="file" accept="image/*" (change)="changeListener($event)">
      </div>

    </form>
  </div>
</div>
<div class="modal-footer">
  <button href="#" type="submit"
          style="background: #59b899;border-color: #25bc8a;box-shadow:#25bc8a"
          (click)="UpdateAvatar()"
          class="btn btn-lg border-2  btn-primary btn-block border-radius-15 padding-15px box-shadow">ثبت رزرو
  </button>

</div>
